// Loading spinner
.todo-footer strong .pull-right .fa-spin {
    font-size: 24px
}
 
 // Loading spinner
.todo-footer .notification {
    color: cornflowerblue;
    margin-right: 5px;
}

.center {
    text-align: center;
}

.clearFix{
    clear:both;
}

.bold{
    font-weight: bold;
}

.marginBottom5px {
    margin-bottom: 5px;
}

.marginBottom15px {
    margin-bottom: 15px;
}

.paddingTop5pxBottom15px{
    padding: 5px 0 15px 0;
}

.minWidth100px{
    min-width: 100px;
}

.marginTop30px{
    margin-top: 30px;
}
